$primary-color: #007fd4;
$primary-color-hover: #87cfff;
$secondary-color: #eff8ff;
$shadow-color: #007fd457;

$primary-gradient: linear-gradient(90deg, #75d0ff 0%, #0096e8 35%, #0065ab 100%);

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: 'Nunito', 'poppins', 'Roboto', 'Lato', sans-serif;
    overflow: hidden;
}

@import "./pages/HomePage/HomePage.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}