.widget {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(130, 130, 130, 0.47);
    border-radius: 10px;
    height: 120px;

    .left, .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-weight: bold;
            font-size: 15px;
            color: rgb(160, 160, 160);
        }

        .counter {
            font-size: 28px;
            font-weight: 300;
        }

        .link {
            font-size: 13px;
            border-bottom: 1px solid gray;
            width: max-content;
        }

        .percentage {
            display: flex;
            align-items: center;
            font-size: 15px;

            &.positive {
                color: green;
            }

            &.negative {
                color: red;
            }
        }

        .icon {
            font-size: 28px;
            padding: 2px;
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}