.registerPage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 50%;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.691);
        box-shadow: 0px 3px 10px $shadow-color;
        padding: 0 20px 10px 20px;

        @include md {
            width: 60%;
        }

        @include sm {
            width: 70%;
        }

        .form-h {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 30%;
            gap: 12px;

            img {
                width: 42px;
                height: 42px;
            }


        }

        .login-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 70%;

            .form {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                overflow-y: scroll;
                gap: 16px;
                padding: 20px 10px;

                .input-single {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;

                label {
                    white-space: nowrap;
                }

                input {
                    width: 100%;
                    border: 1px solid #ddd;
                    height: 30px;
                    border-radius: 4px;
                    padding: 2px 8px;


                    &:focus {
                        border: 1px solid $primary-color;
                        outline: none;
                    }

                    &::placeholder {
                        color: #aaa;
                    }

                }
            }

            .input-multi {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 14px;

                .input-single {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;


                    input {
                        width: 100%;
                    }
                }
            }


                .input-single {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;

                label {
                    font-size: 14px;
                }

                input {
                    width: 100%;
                    border: 1px solid #ddd;
                    height: 30px;
                    border-radius: 4px;
                    padding: 2px 8px;


                    &:focus {
                        border: 1px solid $primary-color;
                        outline: none;
                    }

                    &::placeholder {
                        color: #aaa;
                    }

                }
            }

            .input-multi {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 14px;

                .input-single {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;


                    input {
                        width: 100%;
                    }
                }
            }

                .input-single {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        width: 100%;
                
                        label {
                            font-size: 14px;
                        }
                
                        input {
                            width: 100%;
                            border: 1px solid #ddd;
                            height: 30px;
                            border-radius: 4px;
                            padding: 2px 8px;
                
                
                            &:focus {
                                border: 1px solid $primary-color;
                                outline: none;
                            }
                
                            &::placeholder {
                                color: #aaa;
                            }
                
                        }
                    }
                
                    .input-multi {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        gap: 14px;
                
                        .input-single {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                
                
                            input {
                                width: 100%;
                            }
                        }
                    }
            }

            


            .btn-sec {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;

                button {
                    margin-top: 28px;
                    text-align: center;
                    height: 25px;
                    border: 2px solid $primary-color;
                    height: 36px;
                    width: 80px;
                    border-radius: 10px;
                    background-color: $primary-color;
                    color: #fff;
                    cursor: pointer;
                }

                span {
                    font-size: 13px;

                    span {
                        color: $primary-color;
                        cursor: pointer;
                        font-weight: bold;
                    }
                }

            }


        }

        .btn-section {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25%;




        }
    }
}


.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ccc;
}








// .registerPage {
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
    
//     .background {
//             width: 430px;
//             height: 520px;
//             position: absolute;
//             transform: translate(-50%, -50%);
//             left: 50%;
//             top: 50%;
        
    
//         .shape {
//             height: 180px;
//             width: 180px;
//             position: absolute;
//             border-radius: 50%;
//             background: linear-gradient(#1845ad, #23a2f6);
//             right: -80px;
//             bottom: -80px;
//         }

//     }
    
//     form {
//         height: 520px;
//         width: 400px;
//         background-color: rgba(255, 255, 255, 0.691);
//         position: absolute;
//         transform: translate(-50%, -50%);
//         top: 50%;
//         left: 50%;
//         border-radius: 10px;
//         backdrop-filter: blur(10px);
//         border: 2px solid rgba(255, 255, 255, 0.1);
//         box-shadow: 0 3px 10px $shadow-color;
//         padding: 50px 35px;

//         h3 {
//             text-align: center;
//         }

//         label {
//             display: block;
//             margin-top: 30px;
//             font-size: 16px;
//             font-weight: 500;
//         }
        
//         input {
//             display: block;
//             height: 50px;
//             width: 100%;
//             background-color: rgba(255, 255, 255, 0.07);
//             border-radius: 3px;
//             padding: 0 10px;
//             margin-top: 8px;
//             font-size: 14px;
//             font-weight: 300;
//             border: 1px solid #ccc;
//         }
        
//         ::placeholder {
//             color: #aaa;
//         }
        
//         button {
//             margin-top: 50px;
//             width: 100%;
//             background-color: $primary-color;
//             color: #eee;
//             padding: 15px 0;
//             font-size: 18px;
//             font-weight: 600;
//             border-radius: 5px;
//             cursor: pointer;
//         }

//         span {
//             font-size: 14px;

//             span {
//                 color: $primary-color;
//             }
//         }
//     }
    
//     form * {
//         color: #111;
//         letter-spacing: 0.5px;
//         outline: none;
//         border: none;
//     }

    

        
// }























