.profileUpdatePage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;

    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.691);
        box-shadow: 0px 3px 10px $shadow-color;
        padding: 0 20px 10px 20px;

        @include md {
            width: 60%;
        }

        @include sm {
            width: 70%;
        }

        .form-h {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 12px;
            position: relative;
            margin-bottom: 10px;

            .close {
                position: absolute;
                top: 10px;
                right: 0;
                cursor: pointer;
            }
        }

        .profileImage {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    

                    img {
                        width: 128px;
                        height: 128px;
                        margin-bottom: 24px;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 3px solid $primary-color;

                        
                    }

                    span {
                        position: absolute;
                        bottom: 10px;
                        left: 28px;
                        color: #eee;
                        cursor: pointer;

                        .cloudinary-button {
                            border: none;
                            padding: 3px 14px;
                            background-color: $primary-color;
                            font-size: 14px;
                            border-radius: 10px;
                        }
                    }

                    
                    
                }

        .update-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;

            .form {
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                gap: 16px;
                padding: 20px 10px;
                overflow-y: scroll;


                .profileImage {
                    position: relative;
                    display: flex;
                    justify-content: start;

                    img {
                        width: 128px;
                        height: 128px;
                        margin-bottom: 24px;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 3px solid $primary-color;

                        
                    }

                    span {
                        position: absolute;
                        bottom: 10px;
                        left: 38px;
                        background-color: $primary-color;
                        font-size: 15px;
                        color: #eee;
                        padding: 3px 14px;
                        border-radius: 10px;
                        cursor: pointer;
                    }

                    
                    
                }


                .input-single {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;

                label {
                    white-space: nowrap;
                }

                input {
                    width: 100%;
                    border: 1px solid #ddd;
                    height: 30px;
                    border-radius: 4px;
                    padding: 2px 8px;


                    &:focus {
                        border: 1px solid $primary-color;
                        outline: none;
                    }

                    &::placeholder {
                        color: #aaa;
                    }

                }
            }

            // .input-multi {
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     width: 100%;
            //     gap: 14px;

            //     .input-single {
            //         width: 50%;
            //         display: flex;
            //         flex-direction: column;
            //         justify-content: center;


            //         input {
            //             width: 100%;
            //         }
            //     }
            // }


            //     .input-single {
            //     display: flex;
            //     justify-content: center;
            //     flex-direction: column;
            //     width: 100%;

            //     label {
            //         font-size: 14px;
            //     }

            //     input {
            //         width: 100%;
            //         border: 1px solid #ddd;
            //         height: 30px;
            //         border-radius: 4px;
            //         padding: 2px 8px;


            //         &:focus {
            //             border: 1px solid $primary-color;
            //             outline: none;
            //         }

            //         &::placeholder {
            //             color: #aaa;
            //         }

            //     }
            // }

            .input-multi {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 14px;

                .input-single {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;


                    input {
                        width: 100%;
                    }
                }

                select {
                            width: 100%;
                            border: 1px solid #ddd;
                            height: 30px;
                            border-radius: 4px;
                            padding: 2px 8px;
                            
                
                
                            &:focus {
                                border: 1px solid $primary-color;
                                outline: none;
                            }
                
                            &::placeholder {
                                color: #aaa;
                            }

                        }
            }

                .input-single {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        width: 100%;
                
                        label {
                            font-size: 14px;
                        }
                
                        input {
                            width: 100%;
                            border: 1px solid #ddd;
                            height: 30px;
                            border-radius: 4px;
                            padding: 2px 8px;
                
                
                            &:focus {
                                border: 1px solid $primary-color;
                                outline: none;
                            }
                
                            &::placeholder {
                                color: #aaa;
                            }
                
                            .error-message {
                                position: absolute;
                                top: 45px;
                                color: rgb(179, 0, 0);
                                font-size: 12px;
                                margin-top: 5px;
                                min-height: 20px; 
                            }
                        }
                    }
                
                    .input-multi {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        gap: 14px;
                
                        .input-single {
                            position: relative;
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                
                
                            input {
                                width: 100%;
                            }

                            .error-message {
                                position: absolute;
                                top: 45px;
                                color: red;
                                font-size: 12px;
                                margin-top: 5px;
                                min-height: 20px; 
                            }
                        }
                    }
            }

            


            .btn-sec {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                height: 20%;

                button {
                    margin-top: 28px;
                    text-align: center;
                    height: 25px;
                    border: 2px solid $primary-color;
                    height: 36px;
                    width: 80px;
                    border-radius: 10px;
                    background-color: $primary-color;
                    color: #fff;
                    cursor: pointer;
                }

                span {
                    font-size: 13px;

                    span {
                        color: $primary-color;
                        cursor: pointer;
                        font-weight: bold;
                    }
                }

            }


        }

        .btn-section {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25%;




        }
    }
}


// .scrollbar::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
//     border-radius: 5px;
//     background-color: #F5F5F5;
// }

// .scrollbar::-webkit-scrollbar {
//     width: 8px;
// }

// .scrollbar::-webkit-scrollbar-thumb {
//     border-radius: 5px;
//     background-color: #ccc;
// }


// .error-border {
//   border: 2px solid red !important;
// }