.homepage {
    display: flex;
    

    .home-container {
        flex: 8;

        .widget-section {
            display: flex;
            flex-direction: column;

            .main-title {
                padding: 15px 20px;
                font-size: 18px;
                font-weight: 700;
                color: gray;
            }
        
            .widgets {
                display: flex;
                padding: 0 20px;
                gap: 20px;
            }
        }

        .chart-section {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            height: max-content;

            .main-title {
                padding: 15px 20px;
                font-size: 18px;
                font-weight: 700;
                color: gray;
            }

            .charts {
                display: flex;
                padding: 0 20px;
                gap: 20px;
            }

        }

        
    }
}