form { 
  display: flex;
  border: 1px solid #999;
  justify-content: space-between;
  height: 48px;
  gap: 5px;

  input {
    border: none;
  }

  button {
    border: none;
    background-color: #007fd4;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
  }

 .autocomplete-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 20px;
  }
  
  .autocomplete-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }

  .autocomplete-suggestions {
    position: absolute;
  }
  
  
  
  
  
}

.autocomplete-suggestions {
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
  }

  .autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .autocomplete-suggestion:hover {
    background-color: #f0f0f0;
  }