.emailListPage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto; // Keep this for scrolling when necessary
  height: 100%;
  padding-bottom: 20px; // Added padding to prevent cut-off
  width: 100%;

  .MuiDataGrid-cell {
    font-family: 'Nunito', 'poppins', 'Roboto', 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
  }
}