@import "../../layout/responsive.scss";

.hide {
    display: none;
}

.show {
    display: inline;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  .left {
    flex: 2;
    display: flex;
 
    
     
    .nav-logo {
      display: flex;
      align-items: center;
      border-bottom: 2px solid transparent;
      margin-bottom: 10px;

      .logo {
        height: 20px;
        width: 150px;
      }
    }
  }
    

  .right {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 45px;
    height: 100%;
    // background-color: $secondary-color;


    @include md {
        gap: 20px;
        background-color: transparent;
      }

    .nav-links {
      display: flex;
      gap: 45px;

      @include md {
        gap: 20px;
      }

      @include sm {
        display: none;
      }

      .link {
        position: relative;       
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 2px solid transparent; 
        text-decoration: none;

        &.active {
          border-bottom: 2px solid $primary-color;
          color: $primary-color;
        }
        
        &::before {
          content: attr(data-item);
          transition: all 0.2s ease-in-out;
          color: $primary-color;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
          border-bottom: 2px solid $primary-color;
        }

        &:hover {
          &::before {
            width: 100%;
          }
           
      }

      }

      
    }

    .user-btn {
      display: flex;
      align-items: center;
      
      .desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        gap: 10px;

        

        .MuiIconButton-root {
          color: #111;
          display: flex;
          gap: 5px;
          background-color: white;
          border: 2px solid $primary-color;
          padding: 2px 2px 2px 12px;
          border-radius: 32px;
          font-size: 16px;
          font-family: 'poppins', 'Roboto', 'Lato', sans-serif;
          

          &:hover {
            .MuiAvatar-root {
              transition: all .4s ease-in;
              outline: 2px solid $primary-color;

        }
          }
          
        }

        

        .MuiAvatar-root {
          border: 1px solid $primary-color;

        }

        .MuiButtonBase-root {
          font-family: 'poppins', 'Roboto', 'Lato', sans-serif;
        }

        .user {
          display: flex;
          align-items: center;
          border: 2px solid $primary-color;
          padding: 4px 10px;
          border-radius: 10px;

          @include sm {
            display: none;
          }

          img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
          }
        }

        .report-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          gap: 4px;
          border: 4px solid $primary-color;
          padding: 2px 20px;
          border-radius: 25px;
          background-color: $primary-color;
          color: #fff;
          position: relative;
          white-space: nowrap;
          font-size: 16px;
          transition: all 0.3s ease-in-out;

          .icon {
            transform: translateY(2px);
            color: white;
          }
          

          &:hover {
            background-color: #007fd4d2;

            .icon {
              transition: all .3s ease-in-out;
              transform: translateY(0px);
            }
          }

          @include sm {
            display: none;
          }

          .notification {
            position: absolute;
            background-color: rgb(171, 0, 0);
            width: 26px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            top: -8px;
            right: -8px;
          }
        }

      }

      .mobile {
        display: none;
        
        @include sm {
          display: initial;
          
          .user {
          display: flex;
          align-items: center;
          border: 2px solid $primary-color;
          padding: 1px;
          border-radius: 50%;
          margin-bottom: 10px;

          img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            object-fit: cover;

          }
        }

        }
      }

      
    }


    .nav-btn {
      display: flex;
      margin-bottom: 10px;

      @include sm {
        display: none;
      }

   
    
      .link {
          padding: 8px 18px;
          border-radius: 12px;
          margin-right: 1.5rem; 
          white-space: nowrap;
          

          @include md {
            margin-right: 1rem;
            
          }
      }

      .signin {
        &:link, 
        &:visited {
          text-decoration: none;
          border: 2px solid $primary-color;
          position: relative;
          z-index: 1;    
          overflow: hidden;
        }
        
        &::after {
          content: "";
          width: 0;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          background-color: $primary-color;
          transition: all .4s;
          z-index: -2;
        }
        
        &:hover {
          color: white;
          box-shadow: 
            0rem .5rem 2rem
            rgba($primary-color, .1)
        }
              
        &:hover::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: -2;
        }
      }

      .register {
        &:link, 
        &:visited {
          background-color: $primary-color;
          color: white; 
          border: 2px solid $primary-color;
          text-decoration: none;
          position: relative;
          z-index: 1;
          overflow: hidden;
        }
        
        &::after {
          content: "";
          width: 0;
          height: 100%;
          position: absolute; 
          background-color: #eff8ff;
          top: 0;
          right: 0;
          transition: all .4s;
          z-index: -2;
        }
        
        &:hover {
          color: black;
          box-shadow: 
            0rem .5rem 2rem
            rgba($primary-color, .1)
        }
              
        &:hover::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: -2;
        }
      }
    }

    .mobile-menu {
      display: none;

      @include sm {
        display: inline;
        cursor: pointer;
        z-index: 2001;
      }
    }

    .menu {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.93);
      backdrop-filter: blur(8px);
      color: white;
      height: 100%;
      width: 50%;
      top: 0;
      right: -50%;
      transition: all 0.5s ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      font-size: 1rem;
      z-index: 2000;

      &.active {
        right: 0;
      }

      
    }
  }
}

.mobile-menu {
  z-index: 2050;
}

.menu-logout {
            &:hover {
              background-color: #ffc6c6 !important;
              color: rgb(73, 73, 73);

              .icon {
                color: #8b0000;
              }
            }
          }

.menu-reports, .menu-profile {
  &:hover {
              background-color: #d0ebff !important;
              color: $primary-color;

              .icon {
                color: $primary-color;
              }
            }
}