@import "../../layout/responsive.scss";

.hide {
    display: none;
}

.show {
    display: inline;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  .left {
    flex: 2;
    display: flex;
 
    
     
    .nav-logo {
      display: flex;
      align-items: center;
      border-bottom: 2px solid transparent;
      margin-bottom: 10px;

      .logo {
        height: 20px;
        width: 150px;
      }
    }
  }
    

  .right {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 45px;
    height: 100%;
    // background-color: $secondary-color;


    @include md {
        gap: 20px;
        background-color: transparent;
      }

    .nav-links {
      display: flex;
      gap: 45px;

      @include md {
        gap: 20px;
      }

      @include sm {
        display: none;
      }

      .link {
        position: relative;

        a {
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 2px solid transparent; 
        text-decoration: none;
        
        &::before {
          content: attr(data-item);
          transition: all 0.2s ease-in-out;
          color: $primary-color;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
          border-bottom: 2px solid $primary-color;
        }

        &:hover {
          &::before {
            width: 100%;
          }
        }     
      }

      }

      
    }

    .nav-btn {
      display: flex;
      margin-bottom: 10px;

      @include sm {
        display: none;
      }

   
    
      a {
          padding: 8px 18px;
          border-radius: 12px;
          margin-right: 1.5rem; 
          white-space: nowrap;

          @include md {
            margin-right: 1rem;
            
          }
      }

      .signin {
        &:link, 
        &:visited {
          text-decoration: none;
          border: 2px solid $primary-color;
          position: relative;
          z-index: 1;    
          overflow: hidden;
        }
        
        &::after {
          content: "";
          width: 0;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          background-color: $primary-color;
          transition: all .4s;
          z-index: -2;
        }
        
        &:hover {
          color: white;
          box-shadow: 
            0rem .5rem 2rem
            rgba($primary-color, .1)
        }
              
        &:hover::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: -2;
        }
      }

      .register {
        &:link, 
        &:visited {
          background-color: $primary-color;
          color: white; 
          border: 2px solid $primary-color;
          text-decoration: none;
          position: relative;
          z-index: 1;
          overflow: hidden;
        }
        
        &::after {
          content: "";
          width: 0;
          height: 100%;
          position: absolute; 
          background-color: #eff8ff;
          top: 0;
          right: 0;
          transition: all .4s;
          z-index: -2;
        }
        
        &:hover {
          color: black;
          box-shadow: 
            0rem .5rem 2rem
            rgba($primary-color, .1)
        }
              
        &:hover::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: -2;
        }
      }
    }

    .mobile-menu {
      display: none;

      @include sm {
        display: inline;
        cursor: pointer;
        z-index: 3;
      }
    }

    .menu {
      position: absolute;
      background-color: black;
      color: white;
      height: 100%;
      width: 50%;
      top: 0;
      right: -50%;
      transition: all 0.5s ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      font-size: 1rem;
      z-index: 2;

      &.active {
        right: 0;
      }

      
    }
  }
}