.newsPage {
    display: flex;
    height: 100%;



    .listContainer {
        flex: 3;
        height: 100%;

        .wrapper {
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px; 
            overflow-y: scroll;
            height: 100%;
            padding-bottom: 60px;

            @include md {
                -ms-overflow-style: none;
                scrollbar-width: none;
                padding-right: 20px;
                padding-bottom: 40px;
            }

            form {
                height: 30px;
            }

            .searchBar {
                width: 50%;
            }
        }
    }

    .mapContainer {
        flex: 2;
        height: 100%;

        @include md {
            display: none;
        }
    }
}
