.newsPage {
    display: flex;
    height: 100%;

    .listContainer {
        flex: 3;
        height: 100%;

        .wrapper {
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px; 
            overflow-y: scroll;
            height: 100%;

            form {
                height: 30px;
            }

            .searchBar {
                width: 50%;
            }
        }
    }

    .mapContainer {
        flex: 2;
        background-color: gray;
        height: 100%;
    }
}
