.newsPage {
    display: flex;
    height: 100%;

    .listContainer {
        flex: 3;

        .wrapper {
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px; 
            overlay: scroll;

            form {
                height: 30px;
            }

            .searchBar {
                width: 50%;
            }
        }
    }

    .mapContainer {
        flex: 2;
        background-color: gray;
    }
}