<<<<<<< HEAD
.Map{
    width:100% ;
    height: 100%;
    border-radius: 20px;
=======
.map {
    width: 100%;
    height: 100%;
}

.popupContainer {
    display: flex;
    gap: 20px;

    img {
        width: 64px;
        height: 48px;
        object-fit: cover;
        border-radius: 5px;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
>>>>>>> 630049f5bb6f76986dd9edeae98a055b7a958b11
}