.homePage {
    display: flex;
    height: 100%;

    .textPart {
        flex: 3;

        .wrapper {
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            height: 100%;

            .title {
                font-size: 2.5rem;
            }

            .hero-btn {
                display: flex;
                flex-direction: row;
                gap: 20px;
                justify-content: flex-start;

                a {
                    padding: 10px 20px;
                    border-radius: 10px;
                    border: 2px solid $primary-color;
                }
            }
        }
    }

    .imagePart {
        flex: 2;
        background-color: $secondary-color;
        position: relative;
        display: flex;
        align-items: center;

        img {
            width: 110%;
            position: absolute;
            right: 0;
        }
    }
}