$primary-color: #007fd4;
$secondary-color: #eff8ff;

$primary-gradient: linear-gradient(90deg, #75d0ff 0%, #0096e8 35%, #0065ab 100%);

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@import "./layout/layout.scss";
@import "./components/Navbar/Navbar.scss";
@import "./pages/HomePage/HomePage.scss";
@import "./pages/NewsPage/NewsPage.scss";
@import "./pages/DisasterPage/DisasterPage.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Poppins', 'Roboto', 'Lato', sans-serif;
    overflow: hidden;
}