$primary-color: rgb(0, 150, 232);

@import "./layout/layout.scss";
@import "./components/Navbar/Navbar.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto', 'Lato', sans-serif;
    overflow: hidden;
}