$primary-color: #007fd4;
$secondary-color: #eff8ff;
$shadow-color: #007fd435;
$hover-color: #0070bb;

$primary-gradient: linear-gradient(90deg, #75d0ff 0%, #0096e8 35%, #0065ab 100%);

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

@import "./layout/layout.scss";
@import "./components/Navbar/Navbar.scss";
@import "./pages/HomePage/HomePage.scss";
@import "./pages/NewsPage/NewsPage.scss";
@import "./pages/IncidentPage/IncidentPage.scss";
@import "./pages/UserProfilePage/UserProfilePage.scss";
@import "./pages/RegisterPage/RegisterPage.scss";
@import "./pages/SigninPage/SigninPage.scss";
@import "./pages/ProfileUpdatePage/ProfileUpdatePage.scss";
@import "./pages/IncidentReportPage/IncidentReportPage.scss";
@import "./pages/MapPage/MapPage.scss";
@import "./pages/ContactPage/ContactPage.scss";
@import "./pages/ContactPage/ContactPage.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'poppins', 'Roboto', 'Lato', sans-serif;
    overflow: hidden;
}