$primary-color: #007fd4;

.datatable {
    height: 90%;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
    overflow: auto;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
        }

         .add-btn {
            display: flex;
            align-items: center;
            gap: 6px;
            background-color: $primary-color;
            color: #eee;
            padding: 10px 26px;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s ease-in-out;

            &:hover {
              box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
              .icon {
                transition: 0.3s ease-in-out;
                scale: 1.05;
              }
            }
          }
    }

    .title {
        font-size: 18px;
        font-weight: 500;
        color: gray;
    }

    .cellImage {
        width: 40px;
        height: 40px;
        border-radius: 6px;
        margin-right: 10px;
        object-fit: cover;
    }

    .status {
        padding: 5px 10px;
        border-radius: 5px;

        &.approved {
            color: rgb(0, 97, 0);
            background-color: rgba(0, 128, 0, 0.215);
        }

        &.pending {
            color: rgb(144, 106, 9);
            background-color: rgba(218, 165, 32, 0.298);
        }

        &.rejected {
            color: rgb(145, 0, 0);
            background-color: rgba(214, 0, 0, 0.201);
        }
    }

    .disaster-buttons {
        align-items: center;

        a {
            text-decoration: none;
            color: inherit;
        }

        .view-btn {
            margin-left: 10px;
            padding: 5px 10px;
            border-radius: 5px;
            border: 2px solid #0086df;
            cursor: pointer;

            &:hover {
                background-color: #0099ffb2;
                color: white;
            }
        }

        .delete-btn {
             margin-left: 10px;
            padding: 5px 10px;
            border-radius: 5px;
            border: 2px solid rgb(175, 0, 0);
            cursor: pointer;

            &:hover {
                background-color: #c2000082;
                color: white;
            }
        }

    }

    

}

.viewBox {
        p {
            padding-bottom: 5px;
        }
    }