@import "./responsive.scss";

.layout {
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include lg {
        background-color: lightblue;
        max-width: 1280px;
    }

    @include md {
        background-color: lightgreen;
        max-width: 768px;
    }

    @include sm {
        background-color: lightsalmon;
        max-width: 640px;
    }
}