.card {
    display: flex;
    gap: 20px;

    .imageContainer {
        flex: 2;
        height: 200px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    .textContainer {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

}