$primary-color: #007fd4;

.filter {
    h1 {
        font-weight: 300;
        font-size: 24px;
    }

    .items {
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 10px;

        .item1 {
            align-items: flex-start;
            width: 50%;
            
        }

        .item2 {
            width: 30%;
            white-space: nowrap;
        }


        .item {
            display: flex;
            flex-direction: column;

            label {
                font-size: 12px;
            }

            // Location input
            .autocomplete-container {
                margin: 0 20px;
            }
            
            .autocomplete-input {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                font-size: 16px;
                outline: none;
                border: 1px solid #ccc;
                height: 30px;
            }

            .autocomplete-suggestions {
                position: absolute;
                width: 50%;
                top: 100%;
                left: 0;
                background-color: #fff;
                border-top: none;
                border-radius: 0 0 5px 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                list-style: none;
                padding: 0;
                margin: 0;
                z-index: 1000;
                max-height: 500px;
                overflow-y: scroll;
            }

            .autocomplete-suggestion {
                padding: 10px;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            .autocomplete-suggestion:hover {
                background-color: #f0f0f0;
            }

            // Select option
            select {
                width: 100%;
                border-radius: 5px;
                font-size: 16px;
                outline: none;
                border: 1px solid #ccc;
                height: 30px;

                option {
                    border: none !important;
                    outline: none !important;
                    padding: 10px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                }

                option:hover {
                    background-color: #f0f0f0;
                }
            }

            
        }

        .item3 {
            width: 20%;
            display: flex;
            align-items: end;

            button {
                    border: 2px solid $primary-color;
                    color: white;
                    background-color: $primary-color;
                    padding: 0px 30px;
                    height: 40px;
                    cursor: pointer;
                    border-radius: 8px;
                    transition: all .15s ease-in;

                    &:hover {
                        background-color: #0066ab;
                    }
                }
        }

    }

    
}

